@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<h1>Kullanım Sözleşmesi</h1>

<a asp-controller="TermsOfUse" asp-action="English">Click here to read the English text.</a>

<h2>1. GİRİŞ</h2>
<p>Bu Kullanım Sözleşmesi (bundan böyle "Sözleşme" olarak anılacaktır), SolTake.com web sitesi (bundan böyle "Platform" olarak anılacaktır) üzerinden sunulan hizmetlerin kullanımıyla ilgili koşulları belirler. Platformu kullanarak, bu Sözleşme’yi kabul etmiş olursunuz.</p>

<h2>2. HİZMET TANIMI</h2>
<p>SolTake.com, sınav hazırlığı yapan öğrencilerin çözemediği problemleri paylaşabileceği ve diğer kullanıcıların bu problemleri çözerek paylaşabileceği bir sosyal medya platformudur.</p>

<h2>3. KULLANICI HAKLARI VE YÜKÜMLÜLÜKLERİ</h2>
<p>Kullanıcı, Platform’a kaydolurken verdiği bilgilerin doğru ve eksiksiz olduğunu kabul eder. Kullanıcı, Platform üzerinde yapacağı tüm paylaşımların yasal sorumluluğunu kabul eder. Kullanıcı, aşağıdaki türde içeriklerin paylaşımında bulunmamayı taahhüt eder:</p>
<ul>
    <li>Telif Hakkı İhlali: Kullanıcı, telif hakkı ihlali oluşturan, izinsiz paylaşılan veya başka bir kişinin mülkiyet hakkını ihlal eden içerikler paylaşmamayı kabul eder.</li>
    <li>Pornografik İçerik: Her türlü pornografik, cinsel istismar, cinsel içerikli veya cinsel objelerle ilgili içerikler yasaktır.</li>
    <li>Şiddet: Kullanıcı şiddeti içeren, teşvik eden veya yücelten içerikleri paylaşmamayı kabul eder.</li>
    <li>Alkol ve Uyuşturucu Kullanımı: Alkol, uyuşturucu veya diğer bağımlılık yapıcı maddeleri teşvik eden içerikler paylaşılmamalıdır.</li>
    <li>Terör Propagandası: Kullanıcı, terörizmi destekleyen, teşvik eden veya propagandasını yapan içerikler paylaşmamayı kabul eder.</li>
    <li>Nefret ve Irkçılık: Kullanıcı, ırk, etnik köken, din, cinsiyet, cinsel yönelim veya diğer gruplara yönelik nefret söylemi, ayrımcılık veya saldırgan içerikler paylaşmamayı taahhüt eder.</li>
</ul>

<h2>4. PAYLAŞIM KURALLARI</h2>
<p>Kullanıcılar, Platform üzerinde yalnızca kendi oluşturdukları veya yasal olarak paylaşma hakkına sahip oldukları içerikleri paylaşabilirler. Telif hakkı ihlali veya yasadışı içerik paylaşımı kesinlikle yasaktır.</p>

<h2>5. SORUMLULUK SINIRLARI</h2>
<p>SolTake.com, kullanıcılar tarafından paylaşılan içeriklerin doğruluğu veya güvenilirliği konusunda herhangi bir sorumluluk kabul etmez. Kullanıcılar, Platform üzerindeki içeriklerin kullanımından doğacak herhangi bir zarardan yalnızca kendileri sorumlu olacaktır.</p>

<h2>6. SÖZLEŞME DEĞİŞİKLİKLERİ</h2>
<p>SolTake.com, bu Sözleşme’yi dilediği zaman güncelleyebilir. Güncellenmiş Sözleşme, Platform üzerinde yayınlandığı tarihten itibaren geçerlilik kazanır. Her değişiklikten sonra kullanıcılara gerekli bilgilendirme yapılacaktır.</p>

<h2>7. GEÇERLİ HUKUK</h2>
<p>Bu Sözleşme, [Ülke/Şehir] yasalarına tabi olup, bu yasalar çerçevesinde yorumlanacaktır.</p>

<h2>8. İLETİŞİM BİLGİLERİ</h2>
<p>Herhangi bir sorunuz veya geri bildiriminiz için info@soltake.com adresi üzerinden bizimle iletişime geçebilirsiniz.</p>

<h2>9. KABUL</h2>
<p>Platform'u kullanarak, yukarıda belirtilen tüm şartları kabul ettiğinizi onaylarsınız.</p>