@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<div class="d-flex justify-content-md-between align-items-center">
    <img src="~/images/logo-b500.png" class="img me-5" alt="logo" />
    <h1 style="
                    font-family: 'Dancing Script', 'Comic Sans MS', cursive, sans-serif;
                    font-weight: 100;
                    color: #222;
                    font-size: 30px
                ">
        Yenilikçi, modern ve kullanıcı odaklı bir platform olan uygulamamız, sınavlara hazırlık sürecini desteklemekte ve kullanıcıların soru ve problem paylaşımını kolaylaştırmaktadır.
    </h1>
</div>

<div class="d-flex justify-content-md-center align-items-center">
    <h1 class="me-5" style="
                    font-family: 'Dancing Script', 'Comic Sans MS', cursive, sans-serif;
                    font-weight: 100;
                    color: #222;
                    font-size: 30px
                ">
        Çok yakında GooglePlay ve AppStore' da ...
    </h1>
    <img src="~/images/app.png" class="img" style="height:500px" alt="logo" />
</div>
