@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<div >
    <h1 class="text-center" style="
        font-family: 'Dancing Script', 'Comic Sans MS', cursive, sans-serif;
        font-weight: 100;
        color: #222;
        font-size: 30px
    ">
        Hesabı mı Nasıl Silebilirim?
    </h1>

    <p class="text-center" style="font-weight:900;font-size:30px;">
        Lütfen unutmayın, hesabınızı silmeniz durumunda SolTake mobil uygulamasında tarafınıza ait tüm veriler kalıcı olarak silinecektir.
    </p>
</div>

<div class="d-flex justify-content-center">
    <h3 class="text-center" style="
        font-family: 'Dancing Script', 'Comic Sans MS', cursive, sans-serif;
        font-weight: 100;
        color: #222;
        font-size: 25px
    ">
        Hesabınız silmek için aşağıdaki klavuzu takip ediniz.
    </h3>
</div>

<div class="d-flex justify-content-center mt-5 mb-5">
    <img src="~/images/ad0.png" class="img" style="height:500px" alt="logo" />
</div>

<div class="d-flex justify-content-center mt-5 mb-5">
    <img src="~/images/ad1.png" class="img" style="height:500px" alt="logo" />
</div>

<div class="d-flex justify-content-center mt-5 mb-5">
    <img src="~/images/ad2.png" class="img" style="height:500px" alt="logo" />
</div>

<div class="d-flex justify-content-center mt-5 mb-5">
    <img src="~/images/ad3.png" class="img" style="height:500px" alt="logo" />
</div>